<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head id="head">
    <title>Test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" src="../public/js/my_script.js" th:src="@{/js/my_script.js}"></script>
</head>

<body>

<div id="header">
    <img th:src="@{/images/cphbusiness.png}" src="../public/images/cphbusiness.png"/>
</div>

<div id="footer">
    Dette er så en footer
</div>


</body>
</html>