<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments :: head('Frontpage')}"></div>

<body>

<!--@thymesVar id="hello" type="String"-->
<!--@thymesVar id="message" type="String"-->
<!--@thymesVar id="extra" type="String"-->

<div th:replace="~{fragments :: header}"></div>

<div class="myStyle">
    <div th:text="${hello}"></div>
    <br>

    <div th:text="${message}"></div>
    <button type="button" onclick="getValue()">Show JS value</button>
    <br>
    <p th:text="${extra}"></p><br>
    <div id="test123"></div>

</div>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>