<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments :: #head}"></head>
<header th:insert="~{fragments :: #header}"></header>
<body>

<!--@thymesVar id="userList" type="List<app.entities.User>"-->
<!--@thymesVar id="user" type="app.entities.User"-->

    <h1>Users</h1>
    <table>
        <thead>
        <tr>
        <th>username</th>
        <th>password</th>
        <th>role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.username}">username</td>
            <td th:text="${user.password}">password</td>
            <td th:text="${user.role}">role</td>
        </tr>
        </tbody>
    </table>

<footer th:insert="~{fragments :: #footer}"></footer>
</body>
</html>